body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('899156.webp');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 70px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 80px;
    margin-right: 20px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrCodeContainer {
    margin-top: 20px;
    text-align: center;
}

#qrCode {
    width: 200px;
    margin-bottom: 10px;
}

#paymentStatus {
    font-weight: bold;
}
